<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>Servleti.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servleti.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servleti.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnosHotel</servlet-name>
        <servlet-class>Servleti.UnosHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeHotela</servlet-name>
        <servlet-class>Servleti.BrisanjeHotela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaHotelaServlet</servlet-name>
        <servlet-class>Servleti.ListaHotelaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTipova</servlet-name>
        <servlet-class>Servleti.ListaTipova</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnosHotel</servlet-name>
        <url-pattern>/UnosHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeHotela</servlet-name>
        <url-pattern>/BrisanjeHotela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaHotelaServlet</servlet-name>
        <url-pattern>/ListaHotelaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTipova</servlet-name>
        <url-pattern>/ListaTipova</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
