/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2019, 8:50:29 PM
    Author     : User
*/

/*Za stranicu registracije*/

* {box-sizing: border-box}

/* Dodavanje praznog prostora kontejneru */
.container {
  padding-left: 25em;
  padding-right: 25em;
}

/* Unos podataka */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
  background-color: #ddd;
  outline: none;
}

/* Stil horizontalne crte */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Stil dugmeta za registraciju*/
.regdugme {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.regdugme:hover {
  opacity:1;
}

/* plava boja za link */
a {
  color: dodgerblue;
}

/* Siva pozadina za link ka registraciji */
.registracija {
  background-color: #f1f1f1;
  text-align: center;
}

.h1{
    
}




/* Style the header */
.header {
  background-color: #fffff;
  padding: 20px;
  text-align: left;
  display: inline-block;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.reglog a{
    float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {font-family: Arial, Helvetica, sans-serif;}

.error {
    background-color: red;
    color:#ffffff;
    width: 10%;
}

.dugmezapretragu {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  
}

.dugmezapretragu:hover {
  opacity:1;
}


.formazausluge{
    display:inline-block;
    padding-right: 20px;
}

.vl{
    border-left:  3px solid gray;
    height: 50px;
    padding-left: 20px;
    display: inline-block;
    
}
